<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>advBtn.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,326},{220,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,74}}</string>
                <key>sourceSize</key>
                <string>{220,74}</string>
            </dict>
            <key>advBtn2.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,250},{220,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,74}}</string>
                <key>sourceSize</key>
                <string>{220,74}</string>
            </dict>
            <key>advIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{139,491},{37,39}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{37,39}}</string>
                <key>sourceSize</key>
                <string>{37,39}</string>
            </dict>
            <key>advIcon2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,569},{44,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,46}}</string>
                <key>sourceSize</key>
                <string>{44,46}</string>
            </dict>
            <key>arrow.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,929},{80,84}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,16},{80,84}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
            <key>bar1.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,267},{194,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,34}}</string>
                <key>sourceSize</key>
                <string>{194,34}</string>
            </dict>
            <key>bar1Bg.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,229},{196,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{196,36}}</string>
                <key>sourceSize</key>
                <string>{196,36}</string>
            </dict>
            <key>btn.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,326},{220,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{220,74}}</string>
                <key>sourceSize</key>
                <string>{220,74}</string>
            </dict>
            <key>button1.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,615},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button10.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,126},{226,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,122}}</string>
                <key>sourceSize</key>
                <string>{226,122}</string>
            </dict>
            <key>button11.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{226,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{226,122}}</string>
                <key>sourceSize</key>
                <string>{226,122}</string>
            </dict>
            <key>button2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,804},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,615},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button4.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,528},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button5.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,477},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button6.png</key>
            <dict>
                <key>frame</key>
                <string>{{779,453},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button7.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,402},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button8.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,378},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>button9.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,303},{187,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{187,73}}</string>
                <key>sourceSize</key>
                <string>{187,73}</string>
            </dict>
            <key>camera.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,552},{98,60}}</string>
                <key>offset</key>
                <string>{1,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,25},{98,60}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>closeBtn1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,515},{54,52}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,52}}</string>
                <key>sourceSize</key>
                <string>{54,52}</string>
            </dict>
            <key>common icon_gold.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,491},{57,59}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,59}}</string>
                <key>sourceSize</key>
                <string>{57,59}</string>
            </dict>
            <key>common icon_golds.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,491},{76,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{76,57}}</string>
                <key>sourceSize</key>
                <string>{76,57}</string>
            </dict>
            <key>common icon_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,532},{67,67}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{67,67}}</string>
                <key>sourceSize</key>
                <string>{67,67}</string>
            </dict>
            <key>exit.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,615},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>finger.png</key>
            <dict>
                <key>frame</key>
                <string>{{77,804},{123,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{123,95}}</string>
                <key>sourceSize</key>
                <string>{123,95}</string>
            </dict>
            <key>floorIcon.png</key>
            <dict>
                <key>frame</key>
                <string>{{241,491},{64,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,64}}</string>
                <key>sourceSize</key>
                <string>{64,64}</string>
            </dict>
            <key>heart.png</key>
            <dict>
                <key>frame</key>
                <string>{{818,2},{225,196}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{225,196}}</string>
                <key>sourceSize</key>
                <string>{225,196}</string>
            </dict>
            <key>levelBg.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,453},{54,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{54,60}}</string>
                <key>sourceSize</key>
                <string>{54,60}</string>
            </dict>
            <key>levelBg2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{61,68}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{61,68}}</string>
                <key>sourceSize</key>
                <string>{61,68}</string>
            </dict>
            <key>play.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,717},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>refresh.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,615},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>set.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,929},{83,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{83,100}}</string>
                <key>sourceSize</key>
                <string>{83,100}</string>
            </dict>
            <key>win1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{586,487}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{586,487}}</string>
                <key>sourceSize</key>
                <string>{586,489}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>common.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:69be820a04f6bfd02a4ae49d9c9e2a7e$</string>
            <key>textureFileName</key>
            <string>common.png</string>
        </dict>
    </dict>
</plist>
